<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!--    ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../static/js/functionTour.js"></script>
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>List Tour</title>
</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/flights">Travel Kalo</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="input-group mb-3">
            <input id="search" type="text" class="form-control form-control-dark" placeholder="search"
                   aria-label="search"
                   aria-describedby="button-addon">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon" onclick="search()">Search
                </button>
            </div>

    </div>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>
<!-----------------------------------------------------------body------------------------------------------------------->
<div class="container-fluid">
    <div class="row">
        <!-----------------------------------------------------------sidebar------------------------------------------------------->
        <div class="col-md-2">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/flights">
                                <span data-feather="file"></span>
                                Flights
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tours">
                                <span data-feather="shopping-cart"></span>
                                Tour
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/rooms">
                                <span data-feather="users"></span>
                                Hotel
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                User
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-----------------------------------------------------------table------------------------------------------------------->
        <div class="col-md-9">
            <div class="col-md-10 offset-1">
                <div class="row">
                    <h1 style="width: 100%; text-align: center;margin-bottom: 50px; margin-top: 50px"> List Tours</h1>
                </div>
                <br>
                <div class="row">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
                        Create new Tour
                    </button>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p style="margin-top: revert">On page <span id="currentPage">1</span></p>
                    </div>
                    <div class="col-md-6">
                        <nav aria-label="Page navigation example" style="float: right">
                            <ul class="pagination">
                                <li class="page-item" onclick="previousPage()">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <th:block th:each="page:${pages}">
                                    <li class="page-item" th:id="'page' + ${page}" onclick="toActivePage(id)">
                                        <a href="javascript:;" class="page-link" th:text="${page} + 1"></a>
                                    </li>
                                </th:block>
                                <li class="page-item" onclick="nextPage()">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <br>
                <div class="row">
                    <table class="table table-hover table-dark">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Time</th>
                            <th>Location</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="lisTour">
                        <th:block th:each="tour: ${tours}">
                            <tr>
                                <td th:text="${tour.name}"></td>
                                <td th:text="${tour.description}"></td>
                                <td th:text="${tour.price}"></td>
                                <td th:text="${tour.time}"></td>
                                <td th:text="${tour.location.name}"></td>
                                <td>
                                    <a th:id="${tour.id}" th:href="@{/tours/find/__${tour.id}__}"
                                       onclick="showDelete(id)"
                                       class="btn btn-danger"
                                       data-toggle="modal" data-target="#deleteTour">Delete</a>
                                    <a th:id="${tour.id}" th:href="@{/tours/find/__${tour.id}__}"
                                       onclick="ShowEditTour(id)"
                                       class="btn btn-primary" data-toggle="modal" data-target="#ShowEditTour"
                                       data-whatever="@getbootstrap">Edit</a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----------------------------------------------Modal Show Edit------------------------------------------------------------>
<div class="modal fade" id="ShowEditTour" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="number" id="ids" hidden>
                    <div class="form-group">
                        <label for="names" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="names">
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label">Descriptions:</label>
                        <input type="text" class="form-control" id="descriptions">
                    </div>
                    <div class="form-group">
                        <label for="prices" class="col-form-label">Prices:</label>
                        <input type="text" class="form-control" id="prices">
                    </div>
                    <div class="form-group">
                        <label for="times" class="col-form-label">Time:</label>
                        <input type="text" class="form-control" id="times">
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <select id="locations" class="form-control">
                            <option th:each="l:${locations}" th:value="${l.id}" th:text="${l.name}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="editTour()">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete -->
<div class="modal fade" id="deleteTour" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <input type="number" id="iddelete" hidden>
            <div class="form-group">
            </div>
            <div class="modal-body">
                <div id="namedelete">
                </div>
                <p>Do you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="deleteTour()">Delete
                </button>
            </div>
        </div>
    </div>
</div>
<!---------------------------------------------create modal------------------------------------------------------------------->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">NEW Tour</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-fromTour" novalidate="novalidate">
                    <div class="form-group">
                        <label>Name: </label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" id="description" name="description" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" id="price" name="price" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Time</label>
                        <input type="text" id="time" name="time" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <select id="location">
                            <option th:each="l : ${locations}" th:value="${l.id}" th:text="${l.name}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
                <button class="btn btn-primary" data-dismiss="modal" onclick="addTour()">Add</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
