<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>List</title>
    <script type="text/javascript">
        function addTour() {
            let name = $('#name').val();
            let description = $('#description').val();
            let price = $('#price').val();
            let time = $('#time').val();
            let location = $('#location').val();
            let newTour = {
                name: name,
                description: description,
                price: price,
                time: time,
                location: {
                    id: location
                }
            };
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                data: JSON.stringify(newTour),
                url: "/tours/save",
                success: successHandler

            });
            event.preventDefault();
        }

        function successHandler() {
            $.ajax({
                type: "GET",
                url: "/tours/list",
                success: function (data) {
                    let content = "";
                    for (let i = 0; i < data.length; i++) {
                        content += getTour(data[i]);
                    }
                    document.getElementById("lisTour").innerHTML = content;
                }
            })
        }
        function getTour(tour) {
            return `<tr>
                        <td>${tour.name}</td>
                        <td>${tour.description}</td>
                        <td>${tour.price}</td>
                        <td>${tour.time}</td>
                        <td>${tour.location.name}</td>
                        <td><a href="/tour/edit/${tour.id}">Edit</a></td>
                        <td><a href="/tour/delete/${tour.id}">Delete</a></td>
                    </tr>`
        }
    </script>
</head>
<body>
<form id="add-smartphone">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" id="name" placeholder="Name"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" id="description" placeholder="Description"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" id="price" placeholder="Price"></td>
        </tr>
        <tr>
            <td>Time:</td>
            <td><input type="text" id="time" placeholder="Time"></td>
        </tr>
        <tr>
            <td>Location</td>
            <td>
                <select id="location">
                    <option th:each="l : ${locations}" th:value="${l.id}" th:text="${l.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add" onclick="addTour()"></td>
        </tr>
    </table>
</form>
<h1>List Tours</h1>
<table th:border="1">
    <tr>
        <td>Producer</td>
        <td>Model</td>
        <td>Price</td>
        <td>Price</td>
        <td>Location</td>
        <td>Action</td>
    </tr>
    <tbody id="lisTour">
    <th:block th:each="tour: ${tours}">
        <tr>
            <td th:text="${tour.name}"></td>
            <td th:text="${tour.description}"></td>
            <td th:text="${tour.price}"></td>
            <td th:text="${tour.time}"></td>
            <td th:text="${tour.location.name}"></td>
            <td>
                <a class="" th:href="${tour.id}">Delete</a>
                <a class="" th:href="${tour.id}">Edit</a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>